[submodule "libs/sst-basic-blocks"]
	path = libs/sst-basic-blocks
	url = https://github.com/surge-synthesizer/sst-basic-blocks
[submodule "libs/sst-effects"]
	path = libs/sst-effects
	url = https://github.com/surge-synthesizer/sst-effects
[submodule "libs/simde"]
	path = libs/simde
	url = https://github.com/simd-everywhere/simde
[submodule "libs/fmt"]
	path = libs/fmt
	url = https://github.com/fmtlib/fmt
